@model string

@if (!String.IsNullOrEmpty(Model))
{
    var statusMessageClass = Model.StartsWith("Error") ? "danger" : "success";
    var statusMessageIcon = Model.StartsWith("Error") ? "icon-remove" : "icon-ok";

    <div class="alert alert-@statusMessageClass alert-dismissible" role="alert">
        <button type="button" class="close" data-dismiss="alert">
            <i class="icon-remove"></i>
        </button>
        <strong>
            <i class="icon-remove"></i>
            Oh snap!
        </strong>
        @Model
    </div>

   

}
