<div class="widget-box">
    <div class="row">
        <div class="col-sm-7 ">
            <div class="infobox infobox-green">
                <div class="infobox-icon">
                    <i class="icon-folder-close-alt"></i>
                </div>
                <div class="infobox-data">
                    <span class="infobox-data-number" id="countCvden"></span>
                    <div class="infobox-content">Công văn đến</div>
                </div>
            </div>

            <div class="infobox infobox-blue">
                <div class="infobox-icon">
                    <i class="icon-folder-open-alt"></i>
                </div>

                <div class="infobox-data">
                    <span class="infobox-data-number" id="countCvdi"></span>
                    <div class="infobox-content">Công văn đi</div>
                </div>
            </div>

            <div class="infobox infobox-pink">
                <div class="infobox-icon">
                    <i class="icon-check"></i>
                </div>

                <div class="infobox-data">
                    <span class="infobox-data-number" id="countCheck"></span>
                    <div class="infobox-content">Đã duyệt</div>
                </div>
            </div>

            <div class="infobox infobox-red">
                <div class="infobox-icon">
                    <i class="icon-check-empty"></i>
                </div>

                <div class="infobox-data">
                    <span class="infobox-data-number" id="countNoCheck"></span>
                    <div class="infobox-content">Chưa duyệt</div>
                </div>
            </div>
            <div class="infobox infobox-grey">
                <div class="infobox-icon">
                    <i class="icon-group"></i>
                </div>
                <div class="infobox-data">
                    <span class="infobox-data-number" id="countEmployess"></span>
                    <div class="infobox-content">Nhân viên</div>
                </div>
            </div>
            <div class="infobox infobox-orange">
                <div class="infobox-icon">
                    <i class="icon-key"></i>
                </div>
                <div class="infobox-data">
                    <span class="infobox-data-number" id="countAccount"></span>
                    <div class="infobox-content">Tài khoản</div>
                </div>
            </div>
        </div>
        <div class="col-sm-5">

            <div class="row">
                <div class="col-sm-6">
                    <label>Công văn</label>
                    <select class="form-control" id="cvSelect">
                        <option value="0">Tất cả</option>
                        <option value="1">Công văn đến</option>
                        <option value="2">Công văn đi</option>
                    </select>
                </div>
                <div class="col-sm-6">
                    <label>Ngày</label>
                    <select class="form-control" id="daySelect">
                    </select>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-6">
                    <label>Tháng</label>
                    <select class="form-control" id="monthSelect">
                        <option disabled>-Chọn-</option>
                        <option value="0">All</option>
                        <option value="1">Tháng 1</option>
                        <option value="2">Tháng 2</option>
                        <option value="3">Tháng 3</option>
                        <option value="4">Tháng 4</option>
                        <option value="5">Tháng 5</option>
                        <option value="6">Tháng 6</option>
                        <option value="7">Tháng 7</option>
                        <option value="8">Tháng 8</option>
                        <option value="9">Tháng 9</option>
                        <option value="10">Tháng 10</option>
                        <option value="11">Tháng 11</option>
                        <option value="12">Tháng 12</option>
                    </select>
                </div>
                <div class="col-sm-6">
                    <label>Năm</label>
                    <select class="form-control" id="yearSelect">
                    </select>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-6">
                    <label>Phòng ban</label>
                    <select class="form-control" id="partSelect">
                    </select>
                </div>
                <div class="col-sm-6" style="margin-top: 25px;">
                    <button type="submit" class="btn btn-sm btn-info" style="height: 33px;" onclick="Statistical()">Thống kê</button>
                </div>
            </div>
        </div><!-- /span -->

        <div class="col-sm-7">
            <div class="widget-box ">
                <div class="widget-header">
                    <h4 class="lighter smaller">
                        <i class="icon-comment blue"></i>
                        Conversation
                    </h4>
                </div>

                <div class="widget-body">
                    <div class="widget-main no-padding">
                        <div class="slimScrollDiv" style="position: relative; overflow: hidden; width: auto; height: 300px;">
                            <div class="dialogs" style="width: auto; height: 300px;overflow: auto " id="lstMessage">
                               
                            </div>
                            <div class="slimScrollBar ui-draggable" style="background: rgb(0, 0, 0); width: 7px; position: absolute; top: 0px; opacity: 0.4; display: none; border-radius: 7px; z-index: 99; right: 1px; height: 250px;"></div>
                            <div class="slimScrollRail" style="width: 7px; height: 100%; position: absolute; top: 0px; display: none; border-radius: 7px; background: rgb(51, 51, 51); opacity: 0.2; z-index: 90; right: 1px;"></div>
                        </div>
                            <div class="form-actions">
                                <div class="input-group">
                                    <input placeholder="Type your message here ..." type="text" class="form-control" name="message" id="messageInput">
                                    <span class="input-group-btn">
                                        <button class="btn btn-sm btn-info no-radius" type="button" id="sendButton">
                                            <i class="icon-share-alt"></i>
                                            Send
                                        </button>
                                    </span>
                                </div>
                            </div>
                    </div><!-- /widget-main -->
                </div><!-- /widget-body -->
            </div><!-- /widget-box -->
        </div>



        <div class="col-sm-5">
            <div class="widget-box">
                <div class="widget-header widget-header-flat widget-header-small">
                    <h5>
                        <i class="icon-signal"></i>
                        Biểu đồ thống kê
                    </h5>

                    @*<div class="widget-toolbar no-border">
                    <button class="btn btn-minier btn-primary dropdown-toggle" data-toggle="dropdown">
                    This Week
                    <i class="icon-angle-down icon-on-right bigger-110"></i>
                    </button>

                    <ul class="dropdown-menu pull-right dropdown-125 dropdown-lighter dropdown-caret">
                    <li class="active">
                    <a href="#" class="blue">
                    <i class="icon-caret-right bigger-110">&nbsp;</i>
                    This Week
                    </a>
                    </li>

                    </ul>
                    </div>*@
                </div>

                <div class="widget-body">
                    <div class="widget-main">
                        <div id="piechart-placeholder" style="width: 90%; min-height: 300px; padding: 0px; position: relative;">
                            <canvas class="flot-base" id="myChart" style="direction: ltr; position: absolute; left: 0px; top: 0px; width: 575px; height: 300px;" width="575" height="300"></canvas>
                        </div>

                        <div class="hr hr8 hr-double"></div>

                        @*<div class="clearfix">
                        <div class="grid3">
                        <span class="grey">
                        <i class="icon-facebook-sign icon-2x blue"></i>
                        &nbsp; likes
                        </span>
                        <h4 class="bigger pull-right">1,255</h4>
                        </div>

                        <div class="grid3">
                        <span class="grey">
                        <i class="icon-twitter-sign icon-2x purple"></i>
                        &nbsp; tweets
                        </span>
                        <h4 class="bigger pull-right">941</h4>
                        </div>

                        <div class="grid3">
                        <span class="grey">
                        <i class="icon-pinterest-sign icon-2x red"></i>
                        &nbsp; pins
                        </span>
                        <h4 class="bigger pull-right">1,050</h4>
                        </div>
                        </div>*@
                    </div><!-- /widget-main -->
                </div><!-- /widget-body -->
            </div><!-- /widget-box -->
        </div><!-- /span -->

    </div>

</div>








@section Scripts {
    <script src="~/assets/js/jsMain/Home/custom.js"></script>
}