<div class="col-sm-12">
    <div class="widget-box">
        <div class="widget-header">
            <h4>CÔNG VĂN ĐẾN</h4>
        </div>
        <div class="col-sm-4" style="margin:15px 0">
            <a onclick="showInPopup('@Url.ActionLink("AddOfEdit","CVDEN",null,Context.Request.Scheme)',0)" class="btn btn-sm btn-success">Thêm</a>
            <div hidden data-request-url="@Url.ActionLink("AddOfEdit","CVDEN")" id="request"></div>
            <button id="delete" disabled data-request-url="@Url.ActionLink("DeleteRangeConfirmed","CVDEN")" class="btn btn-sm btn-danger">
                Xóa
            </button>
            <a asp-controller="CVDEN" asp-action="indexRestore" class="btn btn-sm btn-info">Thùng rác</a>

        </div>
        <div class="widget-body">
            <div class="widget-main no-padding">
                <div class="row">
                    <div class="col-xs-12">
                        <div class="table-responsive">
                            <table id="cvden" class="display nowrap" style="width:100%">
                                <thead>
                                    <tr>
                                        <th class="center">
                                             <input type="checkbox" id="selectAllCheckbox">
                                        </th>
                                        <th>SKH</th>
                                        <th>NGÀY BAN HÀNH</th>
                                        <th>NGÀY NHẬN</th>
                                        <th>TRÍCH YẾU</th>
                                        <th>LOẠI CÔNG VĂN</th>
                                        <th>NGƯỜI KÝ</th>
                                        <th>ĐỘ MẬT</th>
                                        <th>ĐỘ KHẨN</th>
                                        <th>SỔ CÔNG VĂN</th>
                                        <th>LĨNH VỰC</th>
                                        <th>GHI CHÚ</th>
                                        <th></th>
                                    </tr>
                                </thead>
                            </table>
                        </div><!-- /.table-responsive -->
                    </div><!-- /span -->
                </div>

            </div>
        </div>
    </div>
</div>
@section Scripts {
    <script src="~/assets/js/jsMain/DanhMucHS/custom.js"></script>
}