@model DataLayer.Model.UpdateViewModel
@{
    Layout = null;
}
<div class="row">
    <div class="widget-box">
        <div class="widget-header">
            <h4 id="title">NGƯỜI DÙNG</h4>

            <span class="widget-toolbar">
                <a href="#" data-action="collapse">
                    <i class="icon-chevron-up"></i>
                </a>
            </span>
        </div>

        <div class="widget-body">
            <div class="widget-main">
                <form method="post" asp-action="Edit" onsubmit="return JqueryAjaxPost(this);" autocomplete="off">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                     <input type="hidden" asp-for="Id" />
                     <div class="form-group">
                        <label asp-for="Email"></label>
                        <input asp-for="Email" class="form-control" autocomplete="Email" aria-required="true" disabled/>
                        <span asp-validation-for="Email" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="UserName"></label>
                        <input asp-for="UserName" class="form-control" autocomplete="Hoten_NV" aria-required="true" disabled/>
                        <span asp-validation-for="UserName" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Hoten_NV"></label>
                        <input asp-for="Hoten_NV" class="form-control" autocomplete="Hoten_NV" aria-required="true" disabled/>
                        <span asp-validation-for="Hoten_NV" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="DiaChi_NV"></label>
                        <input asp-for="DiaChi_NV" class="form-control" autocomplete="DiaChi_NV" aria-required="true" disabled/>
                        <span asp-validation-for="DiaChi_NV" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="SDT_NV"></label>
                        <input asp-for="SDT_NV" class="form-control" autocomplete="SDT_NV" aria-required="true" disabled/>
                        <span asp-validation-for="SDT_NV" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="NgaySinh_NV"></label>
                        <input type="date" asp-for="NgaySinh_NV" class="form-control" autocomplete="NgaySinh_NV" aria-required="true" disabled/>
                        <span asp-validation-for="NgaySinh_NV" class="text-danger"></span>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>