@model DataLayer.Model.Tb_BoPhan
@{
    Layout = null;
}
<div class="row">
    <div class="widget-box">
        <div class="widget-header">
            <h4 id="title">BỘ PHÂN</h4>

            <span class="widget-toolbar">
                <a href="#" data-action="collapse">
                    <i class="icon-chevron-up"></i>
                </a>
            </span>
        </div>

        <div class="widget-body">
            <div class="widget-main">
                <form method="post" asp-action="AddOfEdit" asp-route-id="@Model.ID" onsubmit="return JqueryAjaxPost(this);" autocomplete="off">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <input type="hidden" asp-for="ID"></>
                    <div class="form-group">
                        <label asp-for="Ten_BP">Tên bộ phận</label>
                        <input asp-for="Ten_BP" class="form-control" autocomplete="Ten_BP" aria-required="true" />
                        <span asp-validation-for="Ten_BP" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="TenLD_BP">Tên người lãnh đạo</label>
                        <input asp-for="TenLD_BP" class="form-control" autocomplete="TenLD_BP" aria-required="true"></input>
                        <span asp-validation-for="TenLD_BP" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="SoNguoi_BP">Số người</label>
                        <input asp-for="SoNguoi_BP" class="form-control" autocomplete="SoNguoi_BP" aria-required="true"></input>
                        <span asp-validation-for="SoNguoi_BP" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Ghichu">Ghi chú</label>
                        <textarea asp-for="Ghichu" class="form-control" rows="5" autocomplete="Ghichu" aria-required="true"></textarea>
                        <span asp-validation-for="Ghichu" class="text-danger"></span>
                    </div>
                    <button type="submit" class="btn btn-sm btn-success">Lưu</button>
                    <button type="button" onclick="closePopup()" class="btn btn-sm btn-danger">Đóng</button>
                </form>
            </div>
        </div>
    </div>
</div>
@section Scripts {
    <script src="~/assets/js/jsMain/DanhMucPB/custom.js"></script>
    
}