<a onclick="showInPopup('@Url.ActionLink("AddOfEdit","BoPhan",null,Context.Request.Scheme)',0)" class="btn btn-sm btn-success">Thêm</a>
<div hidden data-request-url="@Url.ActionLink("AddOfEdit","BoPhan")" id="request"></div>
<button id="delete" disabled data-request-url="@Url.ActionLink("DeleteRangeConfirmed","BoPhan")" class="btn btn-sm btn-danger">
    Xóa
</button>
<a asp-controller="BoPhan" asp-action="indexRestore" class="btn btn-sm btn-info">Thùng rác</a>
<div class="row">
    <div class="col-xs-12">
        <div class="table-responsive">
            <table id="bophan" class="table table-striped table-bordered table-hover">
                <thead>
                    <tr>
                        <th class="center">
                            <input type="checkbox" id="selectAllCheckbox"></input>
                        </th>
                        <th>TÊN BỘ PHÂN</th>
                        <th>NGƯỜI LÃNH ĐẠO</th>
                        <th>SỐ NGƯỜI</th>
                        <th>GHI CHÚ</th>
                        <th></th>
                    </tr>
                </thead>

            </table>
        </div><!-- /.table-responsive -->
    </div><!-- /span -->
</div>


@section Scripts {
    <script src="~/assets/js/jsMain/DanhMucPB/custom.js"></script>

}