<div class="col-sm-12">
    <div class="widget-box">
        <div class="widget-header">
            <h4>THÙNG RÁC LOẠI SỔ CÔNG VĂN</h4>
            <span class="widget-toolbar">
                <a href="#" data-action="collapse">
                    <i class="icon-chevron-up"></i>
                </a>
            </span>
        </div>

        <div class="widget-body">
            <div class="widget-main no-padding">
                <div class="col-sm-4" style="margin:15px 0">
                    <div hidden data-request-url="@Url.ActionLink("AddOfEdit","LoaiSoCV")" id="request"></div>
                    <button id="restore" disabled data-request-url="@Url.ActionLink("RestoreRangeConfirmed","LoaiSoCV")" class="btn btn-sm btn-success">
                        Phục hồi
                    </button>
                    <button id="deleteres" disabled data-request-url="@Url.ActionLink("DeleteRange","LoaiSoCV")" class="btn btn-sm btn-danger">
                        Xóa
                    </button>
                    <a asp-controller="LoaiSoCV" asp-action="index" class="btn btn-sm btn-info">
                        Quay trở lại
                    </a>
                </div>
                <div class="row">
                    <div class="col-xs-12">
                        <div class="table-responsive">
                            <table id="loaisocvrestore" class="table table-striped table-bordered table-hover">
                                <thead>
                                    <tr>
                                        <th class="center">
                                            <input type="checkbox" id="selectAllCheckboxRes">
                                        </th>
                                        <th>TÊN LOẠI SỔ CÔNG VĂN</th>
                                        <th>GHI CHÚ</th>
                                    </tr>
                                </thead>
                            </table>
                        </div><!-- /.table-responsive -->
                    </div><!-- /span -->
                </div>

            </div>
        </div>
    </div>
</div>
@section Scripts {
    <script src="~/assets/js/jsMain/DanhMucCV/LoadRestore.js"></script>
    
}