<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <title>Dashboard - Ace Admin</title>

    <meta name="description" content="overview &amp; stats" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link href="~/assets/css/bootstrap.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="~/assets/css/font-awesome.min.css" />
    <link rel="stylesheet" href="~/assets/css/ace-fonts.css" />
    <link rel="stylesheet" href="~/assets/css/ace.min.css" />
    <link rel="stylesheet" href="~/assets/css/ace-rtl.min.css" />
    <link rel="stylesheet" href="~/assets/css/ace-skins.min.css" />
    <link rel="stylesheet" href="~/assets/css/buildcss/hover.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
    <link rel="stylesheet" href="~/assets/dataTables/datatables.min.css" />
    <link rel="stylesheet" href="https://cdn.datatables.net/fixedheader/4.0.1/css/fixedHeader.dataTables.css" />
    <link rel="stylesheet" href="https://cdn.datatables.net/responsive/3.0.1/css/responsive.dataTables.css" />
    <!-- Include DataTables CSS -->
    <link rel="stylesheet" href="https://cdn.datatables.net/2.0.3/css/dataTables.dataTables.css">
    <!-- Include DataTables Buttons CSS -->
    <link rel="stylesheet" href="https://cdn.datatables.net/buttons/3.0.1/css/buttons.dataTables.css">
    <!-- Include select2 -->
    <link href="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/css/select2.min.css" rel="stylesheet" />
    <!-- Include jqueryui -->
    <link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/themes/smoothness/jquery-ui.css">
    <script src="~/assets/js/ace-extra.min.js"></script>
</head>

<body>
    <style>
        .ui-widget-overlay{
            background:none;
        }
        .notification {
        }

        .notification.seen {
            opacity: 0.5; /* Làm mờ thông báo */
        }

        .notification.unseen {
            opacity: 1; /* Làm sáng thông báo */
        }
        /*.loading {
            display: block;
            position: fixed;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            border: 16px solid #f3f3f3;
            border-radius: 50%;
            border-top: 16px solid #3498db;
            width: 120px;
            height: 120px;
            animation: spin 2s linear infinite;
        }
        
        keyframes spin {
            0% { transform: rotate(0deg); }
            100% { transform: rotate(360deg); }
        }*/
    </style>
    <div class="navbar navbar-default" id="navbar">
        <script type="text/javascript">
            try { ace.settings.check('navbar', 'fixed') } catch (e) { }
        </script>

        <div class="navbar-container" id="navbar-container">
            <div class="navbar-header pull-left">
                <a href="#" class="navbar-brand">
                    <small>
                        <i class="icon-leaf"></i>
                        QUẢN LÝ CÔNG VĂN TRƯỜNG ĐẠI HỌC NAM CẦN THƠ
                    </small>
                </a><!-- /.brand -->
            </div><!-- /.navbar-header -->

            <div class="navbar-header pull-right" role="navigation">
                <ul class="nav ace-nav">
                    @*<li class="grey">
                        <a data-toggle="dropdown" class="dropdown-toggle" href="#">
                            <i class="icon-tasks"></i>
                            <span class="badge badge-grey">4</span>
                        </a>

                        <ul class="pull-right dropdown-navbar dropdown-menu dropdown-caret dropdown-close">
                            <li class="dropdown-header">
                                <i class="icon-ok"></i>
                                4 Tasks to complete
                            </li>

                            <li>
                                <a href="#">
                                    <div class="clearfix">
                                        <span class="pull-left">Software Update</span>
                                        <span class="pull-right">65%</span>
                                    </div>

                                    <div class="progress progress-mini ">
                                        <div style="width:65%" class="progress-bar "></div>
                                    </div>
                                </a>
                            </li>

                            <li>
                                <a href="#">
                                    <div class="clearfix">
                                        <span class="pull-left">Hardware Upgrade</span>
                                        <span class="pull-right">35%</span>
                                    </div>

                                    <div class="progress progress-mini ">
                                        <div style="width:35%" class="progress-bar progress-bar-danger"></div>
                                    </div>
                                </a>
                            </li>

                            <li>
                                <a href="#">
                                    <div class="clearfix">
                                        <span class="pull-left">Unit Testing</span>
                                        <span class="pull-right">15%</span>
                                    </div>

                                    <div class="progress progress-mini ">
                                        <div style="width:15%" class="progress-bar progress-bar-warning"></div>
                                    </div>
                                </a>
                            </li>

                            <li>
                                <a href="#">
                                    <div class="clearfix">
                                        <span class="pull-left">Bug Fixes</span>
                                        <span class="pull-right">90%</span>
                                    </div>

                                    <div class="progress progress-mini progress-striped active">
                                        <div style="width:90%" class="progress-bar progress-bar-success"></div>
                                    </div>
                                </a>
                            </li>

                            <li>
                                <a href="#">
                                    See tasks with details
                                    <i class="icon-arrow-right"></i>
                                </a>
                            </li>
                        </ul>
                    </li>*@

                    @*<li class="purple">
                        <a data-toggle="dropdown" class="dropdown-toggle" href="#">
                            <i class="icon-bell-alt icon-animated-bell"></i>
                            <span class="badge badge-important">8</span>
                        </a>

                        <ul class="pull-right dropdown-navbar navbar-pink dropdown-menu dropdown-caret dropdown-close">
                            <li class="dropdown-header">
                                <i class="icon-warning-sign"></i>
                                8 Notifications
                            </li>

                            <li>
                                <a href="#">
                                    <div class="clearfix">
                                        <span class="pull-left">
                                            <i class="btn btn-xs no-hover btn-pink icon-comment"></i>
                                            New Comments
                                        </span>
                                        <span class="pull-right badge badge-info">+12</span>
                                    </div>
                                </a>
                            </li>

                            <li>
                                <a href="#">
                                    <i class="btn btn-xs btn-primary icon-user"></i>
                                    Bob just signed up as an editor ...
                                </a>
                            </li>

                            <li>
                                <a href="#">
                                    <div class="clearfix">
                                        <span class="pull-left">
                                            <i class="btn btn-xs no-hover btn-success icon-shopping-cart"></i>
                                            New Orders
                                        </span>
                                        <span class="pull-right badge badge-success">+8</span>
                                    </div>
                                </a>
                            </li>

                            <li>
                                <a href="#">
                                    <div class="clearfix">
                                        <span class="pull-left">
                                            <i class="btn btn-xs no-hover btn-info icon-twitter"></i>
                                            Followers
                                        </span>
                                        <span class="pull-right badge badge-info">+11</span>
                                    </div>
                                </a>
                            </li>

                            <li>
                                <a href="#">
                                    See all notifications
                                    <i class="icon-arrow-right"></i>
                                </a>
                            </li>
                        </ul>
                    </li>*@

                    <li class="green">
                        <a data-toggle="dropdown" class="dropdown-toggle" href="#" id="viewNotificationsButton">
                            <i class="icon-envelope icon-animated-vertical"></i>
                            <span class="badge badge-success" id="cntThongbao"></span>
                        </a>
                        <div hidden data-request-url="@Url.ActionLink("Index","CVDEN")" id="requestCVDEN"></div>
                        <div hidden data-request-url="@Url.ActionLink("Index","CVDI")" id="requestCVDI"></div>
                        <ul class="pull-right dropdown-navbar dropdown-menu dropdown-caret dropdown-close" id="thongbao" style=" max-height: 300px; overflow-y: scroll; ">
                            <li class="dropdown-header">
                                <i class="icon-envelope-alt"></i>
                                5 Messages
                            </li>
                            @*<li>
                                <a href="#">
                                    <img src="~/assets/avatars/avatar.png" class="msg-photo" alt="Alex's Avatar" />
                                    <span class="msg-body">
                                        <span class="msg-title">
                                            <span class="blue">Alex:</span>
                                            Ciao sociis natoque penatibus et auctor ...
                                        </span>

                                        <span class="msg-time">
                                            <i class="icon-time"></i>
                                            <span>a moment ago</span>
                                        </span>
                                    </span>
                                </a>
                            </li>*@
                            @*<li>
                                <a href="inbox.html">
                                    See all messages
                                    <i class="icon-arrow-right"></i>
                                </a>
                            </li>*@
                        </ul>
                    </li>
                   <partial name="_LoginPartial" />
                </ul><!-- /.ace-nav -->
            </div><!-- /.navbar-header -->
        </div><!-- /.container -->
    </div>

    <div class="main-container" id="main-container">
        <script type="text/javascript">
            try { ace.settings.check('main-container', 'fixed') } catch (e) { }
        </script>

        <div class="main-container-inner">
            <a class="menu-toggler" id="menu-toggler" href="#">
                <span class="menu-text"></span>
            </a>

            <div class="sidebar" id="sidebar">
                <script type="text/javascript">
                    try { ace.settings.check('sidebar', 'fixed') } catch (e) { }
                </script>


                <ul class="nav nav-list">
                    <li class="active">
                        <a asp-area="" asp-controller="Home" asp-action="Index">
                            <i class="icon-dashboard"></i>
                            <span class="menu-text"> Trang chủ </span>
                        </a>
                    </li>

                    <li>
                        <a href="#" class="dropdown-toggle">
                            <i class="icon-desktop"></i>
                            <span class="menu-text"> Hệ thống </span>

                            <b class="arrow icon-angle-down"></b>
                        </a>

                        <ul class="submenu">
                            <li>
                                <a asp-area="" asp-controller="KetThuc" asp-action="Index">
                                    <i class="icon-double-angle-right"></i>
                                    Kết thúc
                                </a>
                            </li>

                            <li>
                                <a asp-area="" asp-controller="DangXuat" asp-action="Index">
                                    <i class="icon-double-angle-right"></i>
                                    Đăng xuất
                                </a>
                            </li>
                        </ul>
                    </li>

                    <li>
                        <a href="#" class="dropdown-toggle">
                            <i class="icon-desktop"></i>
                            <span class="menu-text"> Phân quyền người dùng </span>

                            <b class="arrow icon-angle-down"></b>
                        </a>
                        <ul class="submenu">
                            <li>
                                <a asp-area="" asp-controller="User" asp-action="Index">
                                    <i class="icon-double-angle-right"></i>
                                    Người dùng
                                </a>
                            </li>

                            <li>
                                <a asp-area="" asp-controller="Roles" asp-action="Index">
                                    <i class="icon-double-angle-right"></i>
                                    Quyền
                                </a>
                            </li>
                        </ul>
                    </li>

                    <li>
                        <a href="#" class="dropdown-toggle">
                            <i class="icon-list"></i>
                            <span class="menu-text"> Sao lưu dự phòng </span>

                            <b class="arrow icon-angle-down"></b>
                        </a>

                        <ul class="submenu">
                            <li>
                                <a href="tables.html">
                                    <i class="icon-double-angle-right"></i>
                                    Sao lưu dữ liệu
                                </a>
                            </li>

                            <li>
                                <a href="jqgrid.html">
                                    <i class="icon-double-angle-right"></i>
                                    Phục hồi dữ liệu
                                </a>
                            </li>
                        </ul>
                    </li>
                    <li>
                        <a href="#" class="dropdown-toggle">
                            <i class="icon-edit"></i>
                            <span class="menu-text"> Quản lý danh mục </span>

                            <b class="arrow icon-angle-down"></b>
                        </a>

                        <ul class="submenu">
                            <li>
                                <a href="#" class="dropdown-toggle">
                                    <i class="icon-double-angle-right"></i>

                                    Danh mục công văn
                                    <b class="arrow icon-angle-down"></b>
                                </a>

                                <ul class="submenu">
                                    <li>
                                        <a href="#">
                                            <i class="icon-leaf"></i>
                                            Hạn bảo quản
                                        </a>
                                    </li>
                                    <li>
                                        <a asp-area="" asp-controller="LoaiSoCV" asp-action="Index">
                                            <i class="icon-leaf"></i>
                                            Loại sổ công văn
                                        </a>
                                    </li>
                                    <li>
                                        <a asp-area="" asp-controller="SoCV" asp-action="Index">
                                            <i class="icon-leaf"></i>
                                            Sổ đăng ký công văn
                                        </a>
                                    </li>
                                    <li>
                                        <a asp-area="" asp-controller="LoaiCV" asp-action="Index">
                                            <i class="icon-leaf"></i>
                                            Loại công văn
                                        </a>
                                    </li>
                                    <li>
                                        <a asp-area="" asp-controller="LinhVuc" asp-action="Index">
                                            <i class="icon-leaf"></i>
                                            Lĩnh vực
                                        </a>
                                    </li>
                                    <li>
                                        <a class="dropdown-toggle">
                                            <i class="icon-double-angle-right"></i>
                                            Tính chất
                                            <b class="arrow icon-angle-down"></b>
                                        </a>

                                        <ul class="submenu">
                                            <li>
                                                <a asp-area="" asp-controller="TinhKhan" asp-action="Index">
                                                    <i class="icon-leaf"></i>
                                                    Tính chất khẩn
                                                </a>
                                            </li>
                                            <li>
                                                <a asp-area="" asp-controller="TinhMat" asp-action="Index">
                                                    <i class="icon-leaf"></i>
                                                    Tính chất mật
                                                </a>
                                            </li>
                                        </ul>
                                    </li>
                                </ul>
                            </li>
                            <li>
                                <a href="#" class="dropdown-toggle">
                                    <i class="icon-double-angle-right"></i>

                                    Danh mục lưu trữ
                                    <b class="arrow icon-angle-down"></b>
                                </a>

                                <ul class="submenu">
                                    <li>
                                        <a asp-area="" asp-controller="Kho" asp-action="Index">
                                            <i class="icon-leaf"></i>
                                            Kho lưu trữ
                                        </a>
                                    </li>
                                    <li>
                                        <a asp-area="" asp-controller="Ke" asp-action="Index">
                                            <i class="icon-leaf"></i>
                                            Kệ lưu trữ
                                        </a>
                                    </li>
                                    <li>
                                        <a asp-area="" asp-controller="Hop" asp-action="Index">
                                            <i class="icon-leaf"></i>
                                            Hộp lưu trữ
                                        </a>
                                    </li>

                                </ul>
                            </li>
                            <li>
                                <a href="#" class="dropdown-toggle">
                                    <i class="icon-double-angle-right"></i>

                                    Danh mục phòng ban
                                    <b class="arrow icon-angle-down"></b>
                                </a>

                                <ul class="submenu">
                                    <li>
                                        <a asp-area="" asp-controller="NhanVien" asp-action="Index">
                                            <i class="icon-leaf"></i>
                                            Nhân viên
                                        </a>
                                    </li>
                                    <li>
                                        <a asp-area="" asp-controller="BoPhan" asp-action="Index">
                                            <i class="icon-leaf"></i>
                                            Bộ phận
                                        </a>
                                    </li>
                                </ul>
                            </li>
                            <li>
                                <a href="#" class="dropdown-toggle">
                                    <i class="icon-double-angle-right"></i>

                                    Danh mục chức vụ
                                    <b class="arrow icon-angle-down"></b>
                                </a>

                                <ul class="submenu">
                                    <li>
                                        <a asp-area="" asp-controller="ChucVu" asp-action="Index">
                                            <i class="icon-leaf"></i>
                                            Danh mục chức vụ
                                        </a>
                                    </li>
                                </ul>
                            </li>
                        </ul>
                    </li>
                    <li>
                        <a href="#" class="dropdown-toggle">
                            <i class="icon-list"></i>
                            <span class="menu-text"> Quản lý công văn </span>
                            <b class="arrow icon-angle-down"></b>
                        </a>

                        <ul class="submenu">
                            <li>
                                <a asp-area="" asp-controller="CVDEN" asp-action="Index">
                                    <i class="icon-double-angle-right"></i>
                                    Danh mục công văn đến
                                </a>
                            </li>
                            <li>
                                <a asp-area="" asp-controller="CVDI" asp-action="Index">
                                    <i class="icon-double-angle-right"></i>
                                    Danh mục công văn đi
                                </a>
                            </li>
                            <li>
                                <a asp-area="" asp-controller="DanhMucCV" asp-action="Index">
                                    <i class="icon-double-angle-right"></i>
                                    Danh mục hồ sơ
                                </a>
                            </li>
                        </ul>
                    </li>
                </ul><!-- /.nav-list -->

                <div class="sidebar-collapse" id="sidebar-collapse">
                    <i class="icon-double-angle-left" data-icon1="icon-double-angle-left" data-icon2="icon-double-angle-right"></i>
                </div>

                <script type="text/javascript">
                    try { ace.settings.check('sidebar', 'collapsed') } catch (e) { }
                </script>
            </div>

            <div class="main-content">
                <div class="breadcrumbs" id="breadcrumbs">
                    <script type="text/javascript">
                        try { ace.settings.check('breadcrumbs', 'fixed') } catch (e) { }
                    </script>

                    <ul class="breadcrumb">
                        <li>
                            <i class="icon-home home-icon"></i>
                            <a href="#">Home</a>
                        </li>
                        <li class="active">Dashboard</li>
                    </ul><!-- .breadcrumb -->
                </div>

                <div class="page-content">
                    <!-- Nội dung của web -->
                    @RenderBody()
                </div><!-- #dialog-message -->
                </div><!-- /.page-content -->
                <div class="modal" tabindex="-1" role="dialog" id="form-modal">
                    <div class="modal-dialog" style="width:70%">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title"></h5>
                            </div>
                            <div class="modal-body">
                            </div>
                        </div>
                    </div>
                </div>
          @*      <div id="loading" class="loading"></div>*@
                
            </div><!-- /.main-content -->
        </div><!-- /.main-container-inner -->
    <script type="text/javascript">
        window.jQuery || document.write("<script src='/assets/js/jquery-2.0.3.min.js'>" + "<" + "/script>");
    </script>
    <script type="text/javascript">
        if ("ontouchend" in document) document.write("<script src='/assets/js/jquery.mobile.custom.min.js'>" + "<" + "/script>");
    </script>

    <script src="~/assets/js/bootstrap.min.js"></script>
    <script src="~/assets/js/typeahead-bs2.min.js"></script>

    <script src="~/assets/js/jquery-ui-1.10.3.custom.min.js"></script>
    <script src="~/assets/js/jquery.ui.touch-punch.min.js"></script>
    <script src="~/assets/js/jquery.slimscroll.min.js"></script>
    <script src="~/assets/js/jquery.easy-pie-chart.min.js"></script>
    <script src="~/assets/js/jquery.sparkline.min.js"></script>
    <script src="~/assets/js/flot/jquery.flot.min.js"></script>
    <script src="~/assets/js/flot/jquery.flot.pie.min.js"></script>
    <script src="~/assets/js/flot/jquery.flot.resize.min.js"></script>

    <script src="~/assets/dataTables/datatables.min.js"></script>

    <script src="~/assets/js/jsMain/notify.min.js"></script>
    <script src="https://cdn.datatables.net/2.0.3/js/dataTables.js"></script>
    <!-- Include DataTables Buttons script -->
    <script src="https://cdn.datatables.net/buttons/3.0.1/js/dataTables.buttons.js"></script>
    <!-- Include Buttons extension script for DataTables -->
    <script src="https://cdn.datatables.net/buttons/3.0.1/js/buttons.dataTables.js"></script>
    <!-- Include JSZip library (required for Excel export) -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jszip/3.10.1/jszip.min.js"></script>
    <!-- Include pdfmake library (required for PDF export) -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.2.7/pdfmake.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.2.7/vfs_fonts.js"></script>
    <!-- Include HTML5 export button script -->
    <script src="https://cdn.datatables.net/buttons/3.0.1/js/buttons.html5.min.js"></script>
    <!-- Include Print button script -->
    <script src="https://cdn.datatables.net/buttons/3.0.1/js/buttons.print.min.js"></script>
    <!-- DataTables Buttons Extension -->
    <script src="https://cdn.datatables.net/buttons/2.0.0/js/buttons.colVis.min.js"></script>
    <!-- Include select2 -->
    <script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/js/select2.min.js"></script>
    <!-- Include jqueryui -->
    <script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js"></script>
    <!-- Include chart -->
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <!-- ace scripts -->
    <script src="~/microsoft/signalr/dist/browser/signalr.js"></script>
    <script src="~/microsoft/signalr/dist/browser/signalr.min.js"></script>
    <script src="~/assets/js/jquery.gritter.min.js"></script>
    <script src="~/assets/js/ace-elements.min.js"></script>
    <script src="~/assets/js/ace.min.js"></script>
    <script src="~/assets/js/jsMain/Active.js"></script>
    <script src="~/assets/js/jsMain/Thongbao/Thongbao.js"></script>

    @RenderSection("Scripts",required:false)
</body>
</html>
